In [31]:
import plotly.graph_objects as go
import pandas as pd
import plotly as py
from chart_studio.plotly import plot, iplot
import numpy as np

In [45]:
aedes=pd.read_csv("aegypti_albopictus.csv")

In [33]:
aedes.head()

,VECTOR,OCCURRENCE_ID,SOURCE_TYPE,LOCATION_TYPE,POLYGON_ADMIN,Y,X,YEAR,COUNTRY,COUNTRY_ID,GAUL_AD0,STATUS
0,Aedes aegypti,1,published,point,-999,-3.22,40.07,1958,Kenya,KEN,133,NaN
1,Aedes aegypti,2,published,point,-999,-4.27,15.30,1960,Congo,COG,59,NaN
2,Aedes aegypti,3,published,point,-999,-4.27,15.30,1960,Congo,COG,59,NaN
3,Aedes aegypti,4,published,point,-999,-3.22,40.07,1960,Kenya,KEN,133,NaN
4,Aedes aegypti,5,published,point,-999,-3.04,40.14,1960,Kenya,KEN,133,NaN

In [23]:
aedes.shape

(42066, 12)

In [21]:
aedes.Y.value_counts()

 22.62    2181
 22.63    2127
 22.64    1543
 22.61    1219
 22.67     938
          ...
-10.80       1
 33.11       1
 43.15       1
-17.10       1
 14.37       1
Name: Y, Length: 5412, dtype: int64

In [24]:
 aedes.isnull().any()

VECTOR           False
OCCURRENCE_ID    False
SOURCE_TYPE      False
LOCATION_TYPE     True
POLYGON_ADMIN     True
Y                False
X                False
YEAR              True
COUNTRY          False
COUNTRY_ID       False
GAUL_AD0         False
STATUS            True
dtype: bool

In [46]:

aedes = aedes[pd.notnull(aedes["YEAR"])]

In [47]:
 aedes.isnull().any()

VECTOR           False
OCCURRENCE_ID    False
SOURCE_TYPE      False
LOCATION_TYPE     True
POLYGON_ADMIN     True
Y                False
X                False
YEAR             False
COUNTRY          False
COUNTRY_ID       False
GAUL_AD0         False
STATUS            True
dtype: bool

In [39]:
aedes.head()

,VECTOR,OCCURRENCE_ID,SOURCE_TYPE,LOCATION_TYPE,POLYGON_ADMIN,Y,X,YEAR,COUNTRY,COUNTRY_ID,GAUL_AD0,STATUS
0,Aedes aegypti,1,published,point,-999,-3.22,40.07,1958,Kenya,KEN,133,NaN
1,Aedes aegypti,2,published,point,-999,-4.27,15.30,1960,Congo,COG,59,NaN
2,Aedes aegypti,3,published,point,-999,-4.27,15.30,1960,Congo,COG,59,NaN
3,Aedes aegypti,4,published,point,-999,-3.22,40.07,1960,Kenya,KEN,133,NaN
4,Aedes aegypti,5,published,point,-999,-3.04,40.14,1960,Kenya,KEN,133,NaN

In [5]:
import numpy as np

In [ ]:
fig = go.Figure(data=go.Scattergeo(
        lon = aedes['X'],
        lat = aedes['Y'],
        mode = 'markers',
        marker=dict(color=np.where(aedes["VECTOR"]=="Aedes aegypti", 'red', 'green')),
        text= aedes['VECTOR']))

fig.update_layout(
        title = 'Global distribution of Aedes vector species',
        geo = dict(
            showland = True,
            landcolor = "rgb(250, 250, 250)",
            subunitcolor = "rgb(217, 217, 217)",
            countrycolor = "rgb(217, 217, 217)",
            countrywidth = 0.5,
            subunitwidth = 0.5
        ),
    )
fig.show()

## Historical interactive plot for both species

In [69]:
import plotly.express as px
# This sadly didn't work for both species, I need to figure out why it ididn't work. I think it might be because 
#the records for each species are for different years to you can make ranges of years maybe that will solve the problem.
aedes=aedes.sort_values("YEAR")

fig = px.scatter_geo(aedes, lon="X", lat="Y",color="VECTOR",
                     hover_name="COUNTRY",
                     animation_frame="YEAR",
                     projection="natural earth")

py.offline.plot(fig, filename="historical_map.html")

'historical_map.html'

## Historical interactive plot per species

### Aedes aegypti

In [57]:
aegypti=aedes[aedes.VECTOR == "Aedes aegypti"]

In [59]:
aegypti.VECTOR.value_counts()

Aedes aegypti    19012
Name: VECTOR, dtype: int64

In [58]:
aegypti.head()

,VECTOR,OCCURRENCE_ID,SOURCE_TYPE,LOCATION_TYPE,POLYGON_ADMIN,Y,X,YEAR,COUNTRY,COUNTRY_ID,GAUL_AD0,STATUS
0,Aedes aegypti,1,published,point,-999,-3.22,40.07,1958,Kenya,KEN,133,NaN
1,Aedes aegypti,2,published,point,-999,-4.27,15.30,1960,Congo,COG,59,NaN
2,Aedes aegypti,3,published,point,-999,-4.27,15.30,1960,Congo,COG,59,NaN
3,Aedes aegypti,4,published,point,-999,-3.22,40.07,1960,Kenya,KEN,133,NaN
4,Aedes aegypti,5,published,point,-999,-3.04,40.14,1960,Kenya,KEN,133,NaN

In [66]:
aegypti=aegypti.sort_values("YEAR")

In [70]:
import plotly.express as px

fig = px.scatter_geo(aegypti, lon="X", lat="Y",color="VECTOR",
                     hover_name="COUNTRY",
                     animation_frame="YEAR",
                     projection="natural earth")
fig.update_layout(
        title = 'Global distribution of Aedes aegypti per year',
    )

py.offline.plot(fig, filename="historical_map_aegypti.html")

'historical_map_aegypti.html'

### Aedes albopictus

In [61]:
albopictus=aedes[aedes.VECTOR == "Aedes albopictus"]

In [62]:
albopictus.VECTOR.value_counts()

Aedes albopictus    21816
Name: VECTOR, dtype: int64

In [64]:
albopictus=albopictus.sort_values('YEAR')

In [71]:
fig =px.scatter_geo(albopictus, lon="X", lat="Y", color="VECTOR",
                   hover_name="COUNTRY",
                   animation_frame="YEAR",
                   projection="natural earth")

fig.update_layout(
        title = 'Global distribution of Aedes albopictus per year',
    )
py.offline.plot(fig, filename="historical_map_albopictus.html")

'historical_map_albopictus.html'

In [ ]:
import plotly.express as px

fig = px.scatter_geo(aedes, lon="X", lat="Y",color="VECTOR",
                     hover_name="COUNTRY",
                     animation_frame="YEAR",
                     projection="natural earth")
fig.show()

In [ ]:
help(px.scatter_geo)

## Global distribution of both vectors overall results

In [33]:
fig = go.Figure(data=go.Scattergeo(
        lon = aedes['X'],
        lat = aedes['Y'],
        mode = 'markers',
        marker=dict(color=np.where(aedes["VECTOR"]=="Aedes aegypti", 'red', 'green')),
        text= aedes['VECTOR']))

fig.update_layout(
        title = 'Global distribution of Aedes vector species',
        geo = dict(
            showland = True,
            landcolor = "rgb(250, 250, 250)",
            subunitcolor = "rgb(217, 217, 217)",
            countrycolor = "rgb(217, 217, 217)",
            countrywidth = 0.5,
            subunitwidth = 0.5
        ),
    )
#this opens the plot in the browser
fig.show("browser")

In [68]:

fig = go.Figure(data=go.Scattergeo(
        lon = aedes['X'],
        lat = aedes['Y'],
        mode = 'markers',
        marker=dict(color=np.where(aedes["VECTOR"]=="Aedes aegypti", 'red', 'green')),
        text= aedes['VECTOR']))

fig.update_layout(
        title = 'Global distribution of Aedes vector species',
        geo = dict(
            showland = True,
            landcolor = "rgb(250, 250, 250)",
            subunitcolor = "rgb(217, 217, 217)",
            countrycolor = "rgb(217, 217, 217)",
            countrywidth = 0.5,
            subunitwidth = 0.5
        ),
    )
#this saves it as an html 
py.offline.plot(fig,filename="aedes.html")

'aedes.html'

In [51]:
help(py.offline.plot)

Help on function plot in module plotly.offline.offline:

plot(figure_or_data, show_link=False, link_text='Export to plot.ly', validate=True, output_type='file', include_plotlyjs=True, filename='temp-plot.html', auto_open=True, image=None, image_filename='plot_image', image_width=800, image_height=600, config=None, include_mathjax=False, auto_play=True, animation_opts=None)
    Create a plotly graph locally as an HTML document or string.

    Example:
    ```
    from plotly.offline import plot
    import plotly.graph_objs as go

    plot([go.Scatter(x=[1, 2, 3], y=[3, 2, 6])], filename='my-graph.html')
    # We can also download an image of the plot by setting the image parameter
    # to the image format we want
    plot([go.Scatter(x=[1, 2, 3], y=[3, 2, 6])], filename='my-graph.html',
         image='jpeg')
    ```
    More examples below.

    figure_or_data -- a plotly.graph_objs.Figure or plotly.graph_objs.Data or
                      dict or list that describes a Plotly graph.
                      See https://plot.ly/python/ for examples of
                      graph descriptions.

    Keyword arguments:
    show_link (default=False) -- display a link in the bottom-right corner of
        of the chart that will export the chart to Plotly Cloud or
        Plotly Enterprise
    link_text (default='Export to plot.ly') -- the text of export link
    validate (default=True) -- validate that all of the keys in the figure
        are valid? omit if your version of plotly.js has become outdated
        with your version of graph_reference.json or if you need to include
        extra, unnecessary keys in your figure.
    output_type ('file' | 'div' - default 'file') -- if 'file', then
        the graph is saved as a standalone HTML file and `plot`
        returns None.
        If 'div', then `plot` returns a string that just contains the
        HTML <div> that contains the graph and the script to generate the
        graph.
        Use 'file' if you want to save and view a single graph at a time
        in a standalone HTML file.
        Use 'div' if you are embedding these graphs in an HTML file with
        other graphs or HTML markup, like a HTML report or an website.
    include_plotlyjs (True | False | 'cdn' | 'directory' | path - default=True)
        Specifies how the plotly.js library is included in the output html
        file or div string.

        If True, a script tag containing the plotly.js source code (~3MB)
        is included in the output.  HTML files generated with this option are
        fully self-contained and can be used offline.

        If 'cdn', a script tag that references the plotly.js CDN is included
        in the output. HTML files generated with this option are about 3MB
        smaller than those generated with include_plotlyjs=True, but they
        require an active internet connection in order to load the plotly.js
        library.

        If 'directory', a script tag is included that references an external
        plotly.min.js bundle that is assumed to reside in the same
        directory as the HTML file.  If output_type='file' then the
        plotly.min.js bundle is copied into the directory of the resulting
        HTML file. If a file named plotly.min.js already exists in the output
        directory then this file is left unmodified and no copy is performed.
        HTML files generated with this option can be used offline, but they
        require a copy of the plotly.min.js bundle in the same directory.
        This option is useful when many figures will be saved as HTML files in
        the same directory because the plotly.js source code will be included
        only once per output directory, rather than once per output file.

        If a string that ends in '.js', a script tag is included that
        references the specified path. This approach can be used to point
        the resulting HTML file to an alternative CDN.

        If False, no script tag referencing plotly.js is included. This is
        useful when output_type='div' and the resulting div string will be
        placed inside an HTML document that already loads plotly.js.  This
        option is not advised when output_type='file' as it will result in
        a non-functional html file.
    filename (default='temp-plot.html') -- The local filename to save the
        outputted chart to. If the filename already exists, it will be
        overwritten. This argument only applies if `output_type` is 'file'.
    auto_open (default=True) -- If True, open the saved file in a
        web browser after saving.
        This argument only applies if `output_type` is 'file'.
    image (default=None |'png' |'jpeg' |'svg' |'webp') -- This parameter sets
        the format of the image to be downloaded, if we choose to download an
        image. This parameter has a default value of None indicating that no
        image should be downloaded. Please note: for higher resolution images
        and more export options, consider making requests to our image servers.
        Type: `help(py.image)` for more details.
    image_filename (default='plot_image') -- Sets the name of the file your
        image will be saved to. The extension should not be included.
    image_height (default=600) -- Specifies the height of the image in `px`.
    image_width (default=800) -- Specifies the width of the image in `px`.
    config (default=None) -- Plot view options dictionary. Keyword arguments
        `show_link` and `link_text` set the associated options in this
        dictionary if it doesn't contain them already.
    include_mathjax (False | 'cdn' | path - default=False) --
        Specifies how the MathJax.js library is included in the output html
        file or div string.  MathJax is required in order to display labels
        with LaTeX typesetting.

        If False, no script tag referencing MathJax.js will be included in the
        output. HTML files generated with this option will not be able to
        display LaTeX typesetting.

        If 'cdn', a script tag that references a MathJax CDN location will be
        included in the output.  HTML files generated with this option will be
        able to display LaTeX typesetting as long as they have internet access.

        If a string that ends in '.js', a script tag is included that
        references the specified path. This approach can be used to point the
        resulting HTML file to an alternative CDN.
    auto_play (default=True) -- Whether to automatically start the animation
        sequence on page load if the figure contains frames. Has no effect if
        the figure does not contain frames.
    animation_opts (default=None) -- Dict of custom animation parameters that
        are used for the automatically started animation on page load. This
        dict is passed to the function Plotly.animate in Plotly.js. See
        https://github.com/plotly/plotly.js/blob/master/src/plots/animation_attributes.js
        for available options. Has no effect if the figure
        does not contain frames, or auto_play is False.

    Example:
    ```
    from plotly.offline import plot
    figure = {'data': [{'x': [0, 1], 'y': [0, 1]}],
              'layout': {'xaxis': {'range': [0, 5], 'autorange': False},
                         'yaxis': {'range': [0, 5], 'autorange': False},
                         'title': 'Start Title'},
              'frames': [{'data': [{'x': [1, 2], 'y': [1, 2]}]},
                         {'data': [{'x': [1, 4], 'y': [1, 4]}]},
                         {'data': [{'x': [3, 4], 'y': [3, 4]}],
                          'layout': {'title': 'End Title'}}]}
    plot(figure, animation_opts={'frame': {'duration': 1}})
    ```